@import "tailwindcss";

/* Definição de tema customizado do Tailwind v4 */
@theme {
  /* Paleta de cores */
  --color-terracota: #E2725B;
  --color-bege: #F3E5D8;
  --color-marrom: #A0522D;
  --color-verde-salvia: #64614e8c;
  --color-off-white: #FFF8F2;

  /* Tipografia */
  --font-roboto: "Roboto", sans-serif;
  --font-libertinus: "Libertinus Sans", sans-serif;
  --font-old-standard: "Old Standard TT", serif;
}

/* Estilos globais adicionais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-old-standard);
  background-color: var(--color-off-white);
  color: var(--color-marrom);
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

li {
  list-style: none;
  list-style-type: none !important;
  padding-left: 0 !important;
}

select:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

/* Classes globais adicionais */
.tudo {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
}

.imgProfile {
  opacity: 0.5;
}

.titleSection {
  color: var(--color-terracota);
  font-weight: bold;
  font-size: var(--text-3xl);
  line-height: var(--tw-leading, var(--text-4xl--line-height));
  margin-bottom: calc(var(--spacing) * 5);
}

@media (min-width: 500px) {
  .imgProfile {
    opacity: 0.9;
  }
}

@media (min-width: 1200px) {
  .tudo {
    margin: 0 auto;
  }

  .titleSection {
    font-size: var(--text-6xl);
    line-height: var(--tw-leading, var(--text-7xl--line-height));
    margin-bottom: calc(var(--spacing) * 9);
  }
}
