* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    background-color: rgba(138, 156, 236, 0.2);
    display: flex; /* Adicionando display flex ao body para manter a estrutura */
    flex-direction: column; /* Manter a direção dos filhos na coluna */
    overflow: hidden; /* Evitar overflow no corpo */
    padding: 0 16px; /* Margens laterais */
}

/* Removendo a classe .tudo, não é mais necessária */
/* Estilos para listas e links */
ul,
li {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #464646;
}

/* Estilos de foco para elementos de formulário */
textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* Media Queries */
@media (min-width: 768px) {
    body {
        padding: 0 32px; /* Ajuste de padding para telas maiores */
    }
}

@media (min-width: 1025px) {
    body {
        margin: 0 auto; /* Centro para telas maiores */
    }
}
