.section-about {
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem; /* Adiciona um espaçamento interno */
}

.section-about .about-container {
    display: flex;
    flex-direction: column; /* Mantenha em coluna para melhor organização */
    margin-bottom: 20px;
}

.section-about header {
    margin-top: 1.5rem; /* Espaço entre os cabeçalhos */
}

.section-about h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    color: #333; /* Ajuste a cor conforme necessário */
}

.section-about p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: justify;
    margin-block: 1rem;
    color: #555; /* Ajuste a cor conforme necessário */
}

.section-about p strong {
    font-size: 1.6rem;
}

/* Estilização responsiva */
@media (max-width: 468px) {
    .section-about h2 {
        font-size: 1.8rem;
    }

    .section-about p {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    .section-about .about-container {
        flex-basis: 100%;
    }

    .section-about h2 {
        font-size: 3rem;
    }

    .section-about p {
        font-size: 1.6rem;
    }
}
