.section-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex-direction: column;
}

.section-nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section-nav div img {
    width: 3rem;
    height: 3rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.nav-list-item a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-list-item a i {
    font-size: 1.4rem;
}

.tab-section-label {
    font-size: 1.4rem;
    font-weight: 400;
}

/* Estilo para dispositivos móveis */
@media (max-width: 468px) {
    .section-nav div h3 {
        font-size: 1.6rem;
    }

    .section-nav div img {
        width: 2rem;
        height: 2rem;
    }

    .nav-list-item a {
        font-size: 1.2rem;
    }

    .nav-list-item a i {
        font-size: 1.2rem;
    }
}

/* Estilo para tablets e desktops */
@media (min-width: 768px) {
    .section-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-list {
        flex-direction: row;
        gap: 2rem;
    }

    .section-nav div img {
        width: 5rem;
        height: 5rem;
    }

    .section-nav div h3 {
        font-size: 2.5rem;
    }

    .nav-list-item a {
        font-size: 1.6rem;
    }

    .nav-list-item a i {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .section-nav .nav-list {
        display: none;
    }
}

@media (min-width: 1024px) {
    .section-nav {
        justify-content: space-evenly;
    }

    .nav-list-item a {
        font-size: 1.8rem;
    }

    .nav-list-item a i {
        font-size: 1.8rem;
    }
}
